.cart {
    margin-top: 10px;
     :last-child {
        margin-bottom: 20px;
    }
}

.goodimg {
    img {
        width: 200px;
        height: 200px;
    }
}

.goodname {
    float: right;
    margin-top: -200px;
    margin-right: 400px;
    h3 {
        width: 300px;
    }
}

#allcart {
    margin-bottom: 200px;
    h2 {
        font-size: 26px;
        padding-top: 30px;
        margin-bottom: 80px;
    }
}

button#deletebutton {
    float: right;
    margin-top: -170px;
    width: 30px;
    border: none;
    height: 50px;
    background: url(../images/delete1.jpg) no-repeat #fff;
    background-color: white;
     :hover {}
}

#sort img {
    width: 400px;
    height: 400px;
}

button.add-to-cart.button {
    margin-top: 50px;
}

div#total {
    font-family: brandonligh;
    font-size: 26px;
    margin: 30px;
    font-weight: bold;
}

div#countnumber {
    font-size: 24px;
    float: right;
    color: red;
}