#goods {
    padding-left: 80px;
    padding-top: 50px;
    height: 1004px;
    margin-bottom: 300px;
    img {
        width: 300px;
        height: 300px;
    }
}

.single-goods {
    width: 300px;
    height: 350px;
    margin-bottom: 150px;
    margin-top: 50px;
    float: left;
    text-align: center;
}

.single-goods-img a :hover {
    filter: saturate(180%);
}

.newproduct {
    margin-left: 30px;
}

#newProducts {
    height: 700px;
    margin-top: -30px;
    margin-left: 30px;
    img {
        width: 300px;
        height: 300px;
    }
}

.top {
    margin-top: 120px;
    margin-bottom: 70px;
    font-size: 20px;
}

.button {
    border: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;
    padding: 20px 60px;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 20px 50px;
    font-weight: 600;
}

.add-to-cart {
    background: rgba(180, 74, 132, 0.2);
}

.add-to-cart:hover {
    background: grey;
    color: white;
}